body{
  background-color: black;
}
#tabs-1, #tabs-2{
  background-color: gray;
}
img{
  width: 85px;
  height: 85px;
}
h2{
  margin-top: 12px;
  margin-bottom: 0%;
}
#boton{
  color: blue;
  text-align: center;
}
p{
  margin-top: -1px;
}
#doc div{
  margin-left: 8%;
}
#update div, #myline div{
  margin-left: 8%;
}
span{
  margin-bottom: 2px;
}
